html {
  background: url(BG-5.jpg) no-repeat center fixed;
}
#menuOptions {
  overflow: hidden;
  background-color: #7575a3;
  border-radius: 20px 20px 20px 20px;
}

#menuOptions a {
  float: left;
  color: #d98cd9;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding:10px 10px;
  margin-right: 50px;
  margin-left: 50px;
}

#menuOptions a:hover {
  background-color: #d1d1e0;
  color: white;
}
div.introduction {
border: 5px;
background-color: #e6ffff;
margin-top: 60px;
height: 100px;
opacity: 0.8;
padding: 10px;
text-align: center;
border-radius: 20px 20px 20px 20px;
font-size: 19px;
font-weight: bold;
}
p.opening {
  text-align: center;
  font-family: Tahoma;
  font-size: 30px;
  color: black;
}

div.images:hover {
  transform: scale(1.1);
}
div.images img {
  width: 100%;
  height: 200px;
}
div.description {
  margin-top: 50px;
  padding: 3px;
  text-align: center;
  background: #c2d6d6;
  border-radius: 30px 30px 30px 30px;
  height: 180px;
  weight: 50px;
}
p.paragraph{
  margin top: 20px;
}
.main {
  padding: 0px;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 90px;
  float: left;
  width: 20%;
}
div.images img {
    width: 100%;
    height: 200px;
    border-radius: 100%;
}
p.inputDesc {
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: Tahoma;
}
.loginDiv {
position: relative;
margin-left: 50px;
margin-bottom: 50px;

display: inline-block;
padding:10px 10px;
float: left;
width: 1500px;
}
#finish {
  float: center;
  margin-left: 500px;
}
#finish:hover {
background-color: #b3e6cc;
transform: scale(1.05);
}
.loginDiv {
  padding:10px 10px;
}